<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments :: head"></div>
		<title>Degrees</title>
	</head>
	<body>
	    <div class="container pt-4">
	        <h1 th:text="${department.name}"></h1>
	        <hr/>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Level</th>
						<th scope="col">Address</th>
						<th scope="col">Email</th>
						<th scope="col">Website</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="degree : ${degrees}">
						<td th:text="${degree.name}"></td>
						<td th:text="${degree.level}"></td>
						<td th:text="${degree.address}"></td>
						<td th:text="${degree.email}"></td>
						<td th:text="${degree.website}"></td>
					</tr>
				</tbody>
			</table>	        
	        <div class="pt-3">
				<a class="btn btn-primary" th:href="@{/}">Homepage</a>
			</div >
	    </div>
	    <div th:replace="fragments :: scripts"></div>
	</body>
</html>